{block title}Kontakt{/block}

{block content}

<h2>Kontaktní informace</h2>

<p>Tento projekt vznikl pro potřeby předmětu IIS na FIT VUT v Brně.</p>

<p>
Autoři:<br/>
<b>Petr Holubec</b>, <a href="mailto:xholub26@stud.fit.vutbr.cz">xholub26@stud.fit.vutbr.cz</a><br/>
<b>Peter Lacko</b>, <a href="mailto:xlacko06@stud.fit.vutbr.cz">xlacko06@stud.fit.vutbr.cz</a>
</p>

<p>&copy; Všechna práva vyhrazena</p>

{/block}