{block title}Registrace proběhla úspěšně{/block}

{block content}
<h2>Registrace proběhla úspěšně</h2> 
Nyní se mužete přihlásit v pravém horním rohu.<br/>
Vaše registrační údaje Vám budou zaslány na Vaši emailovou adresu,
až to informační systém bude podporovat!
{/block}
